{% extends "base.html" %}
{% black content %}

<div class="row">
    <div class="span6 columns">
    </div>
</div>
<h1>Welcome to Django.</h1>
<br>
<p>Use this project/app to integrate Django and Stripe with a simple user registration.</p><br /><br />
<a href="{% url 'register' %}" class="btn btn-large btn-success">Register today to get started!</a>
<P><strong>Please Note:</strong> This app is running in test mode, use the following credit card information to make a
    purchase:
<ul>
    <li>Credit card number: 4242424242424242</li>
    <li>CVC: any 3-digit number</li>
    <li>Expiration date: any date in the future (MM-YYYY)</li>
</ul>

{% endblock %}