{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 960px;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/darth.jpg' %}" class="d-block w-100" alt="Join the Dark Side"
                            style="max-height: 540px;">
                        <div class="carousel-caption d-none d-lg-block" id="darth_caption">
                            <h1>Join the Dark Side</h1>
                            <p>Or the light side. Doesn't matter. If you're into Star Wars then this is the place for
                                you.</p>
                            <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up
                                    today</a></p>
                        </div>
                        <div class="carousel-caption d-block d-lg-none">
                            <h1>Join the Dark Side</h1>
                            <p>Or the light side. Doesn't matter. If you're into Star Wars then this is the place for
                                you.</p>
                            <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up
                                    today</a></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/star-wars-battle.jpg' %}" class="d-block w-100" alt="Wage War"
                            style="max-height: 540px;">
                        <div class="carousel-caption">
                            <h1>Wage War</h1>
                            <p>Daily chats, Weekly Gaming sessions, Monthly real-life battle re-enactments.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">I'm ready to fight</a></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/star-wars-cast.jpg' %}" class="d-block w-100" alt="Meet People"
                            style="max-height: 540px;">
                        <div class="carousel-caption">
                            <h1>Meet fellow Star Wars Fans</h1>
                            <p>Join forces with fellow padwans and Jedi who live near you.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Check the Members Map</a></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<br><br>

{% load main_marketing %}

<section class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row center-text">
        {% circle_header_item img_name="yoda.jpg" heading="Hone your Jedi Skills" caption="All members have access to our unique training and achievements ladders. Progress through the levels and show everyone who the top Jedi Master is!" %}
        <div class="col-lg-4">
            <img class="rounded-circle " src="{% static 'img/clone_army.jpg' %}" width=140 height=140 alt="Clone Army">

            <h2>Build your Clan</h2>
            <p>Engage in meaningful conversation, or bloodthirsty battle!
                If it's related to Star Wars, in any way, you better
                believe we do it here.</p>
            <p><a class="btn btn-default" href="#" role="button">Sign Up
                    Now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle " src="{% static 'img/leia.jpg' %}" width=140 height=140 alt="Leia">
            <h2>Find Love</h2>
            <p>Everybody knows Star Wars fans are the best mates for Star
                Wars fans. Find your Princess Leia or Han Solo and
                explore the stars together.</p>
            <p><a class="btn btn-default" href="#" role="button">Sign Up
                    Now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div> <!-- /.row -->
</section>



{% endblock %}