{% load static %}
{% load main_gravatar %}

<section class="info-box" id="user_info">
    <h1>Jedi Badge</h1>
    <img class="rounded-circle"
        src="http://www.gravatar.com/avatar/18308d43e40fe649cf29047f0ad684c0?s=140&d=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F9%2F9b%2FYoda_Empire_Strikes_Back.png"
        height="140" width="140" alt="user.avatar" />
    <br>
    {% gravatar_img user.email %}
    <ul>
        <li>Rank: {{ user.rank }}</li>
        <li>Name: {{ user.name }}</li>
        <li>Email: {{ user.email }}</li>
        <li><a href="#" id="show-achieve">Show Achievements</a></li>
    </ul>
    <p>Click <a href="{% url 'edit' %}">here</a> to make change to your credit card.</p>
</section>